<div class="ctr-pages">
  <div>
    <%= @task.title %>
    <%= @task.description %>
    <%= @task.state %>
  </div>
  <div>
    <%= simple_form_for [ @task ] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :state, collection: [ "fait", "en cours" ] %>
    <%= f.submit "Modifier la Tâche", class: "btn-basic pink" %>
    <% end %>
  </div>
</div>
