<div class="ctr-pages">
  <%= @task.title %>
  <div>
    <%= @task.description %>
    <%= @task.state %>
  </div>
  <div>
    <%= link_to "Supprimer #{@task.title}", tasks_path(@task), method: :delete %>
  </div>
  <div>
    <%= link_to "Retour aux taches", tasks_path %>
  </div>
</div>
