
<div class="container">

<div class="profil d_flex m-6">

  <h1> MON PROFIL </h1>
      <div>
              <br><%= current_user.username  %>
              <br><%= current_user.email  %>
              <br>
              <%= button_to "logout", destroy_user_session_path, method: :delete %>
      </div>
  </div>

    <div class="profil d_flex m-6">
    <h1> Recherches Sauvegardées </h1>
      <% current_user.searches.each do |search|%>
        <%= link_to searches_path(@search) do %>
        <%= search.address %>
          <% end %>
      <% end %>
    </div>

</div>
