<div class="ctr-pages">
  <div class="row">
    <div class="col-4">
      <div class="block-profil">
        <div>
          <div class= "profil">
            <div class="d-flex justify-content-center">
              <h3 class="pb-2 mon-profil">Mon profil</h3>
            </div>
            <p>Identifiant : <%= current_user.username.capitalize  %></p>
            <p> Email : <%= current_user.email  %></p>
          </div>

          <div class= "infos-profil ">
            <p><%= @count %> : recherches effectuées </p>
            <p><%= @count_advert %> : annonces immo sauvegardées</p>
            <p><%= @task_to_do %> : tâches à faire</p>
            <p><%= @task_pending %> : tâches en cours</p>
            <p><%= @task_done %> : tâches réalisées</p>
          </div>
        </div>

        <div class="btn-profil-group d-flex flex-column align-items-end">
          <%= button_to root_path, method: :get, class:"btn btn-profil orange" do %>
            <h4> Faire une nouvelle recherche </h4>
            <%# <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
            </svg> %>
          <% end %>

          <%= button_to adverts_path, method: :get, class:"btn btn-profil orange" do %>
            <%# <button class="cta"> %>
            <h4 class="w-hover"> Mes annonces immobilières </h4>
            <%# <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
            </svg> %>
          <% end %>

          <%= button_to tasks_path, method: :get, class:"btn btn-profil orange" do %>
            <%# <button class="cta"> %>
            <h4 class="w-hover"> Voir mes tâches </h4>
            <%# <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
            </svg> %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-8">
      <div class="card-search">
        <h3 class="pt-3">Recherches récentes</h3>

        <% if current_user.searches == nil %>
          <p> Vous n'avez pas de recherches </p>
        <% else  %>
        <div class="glide" data-controller="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% current_user.searches.each do |search|%>
                <li class="glide__slide">
                  <%= link_to search_path(search) do %>
                    <div class="card-profile card-pending mt-5">
                         <p class="pt-5"> &#128205 : <%=  search.address %> </p>
                    <br> <p> &#8987 : <%= search.duration %> minutes </p>
                    <br> <p> &#128694 : <%= I18n.t("#{search.profile}")  %> </p>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
