<div class= "ctr-pages">
  <h3 class="pb-4">Note nos critères sur 10</h3>
  <div class="ctr-cards-indicators">

    <% @indicators.each do |indicator| %>
    <div class="card-indicator px-5" >
      <div class="d-flex align-items-baseline justify-content-start">
        <i class= "fa solid <%= @icons["#{indicator.indicator_title_id}"]%>"></i>
        <p class="pl-8"><%= indicator.indicator_title.name %></p>
      </div>
      <p class="text-indicator"> Mets 10, si tu <%= @texts["#{indicator.indicator_title_id}"]%>
      </p>
      <%= simple_form_for(indicator, data: {controller:"search-indicators"}) do |f| %>
      <div class="d-flex w-100">
        <i class="fa-solid fa-minus px-3"></i>
        <input type="range"
                name="indicator[weight]"
                class="range-indicators"
                value= "0"
                min="-10"
                max="10"
                step="1"
                data-action= "change->search-indicators#update">
        <p class= "pl-12 d-none" data-search-indicators-target= "weight"></p>
        <i class="fa-solid fa-plus px-3"></i>

      </div>
      <% end %>




    </div>
    <% end %>
  </div>
  <%= link_to search_path(params[:search_id]) do %>
    <div class="btn-basic orange center">Mes résultats</div>
  <% end %>
</div>
</div>
