<h1>Vote for your priorities !!</h1>


<%= @indicators.each do |indicator| %>
<div data-controller="search-indicators">
  <h3><%= indicator.indicator_title.name %></h3>
    <%= simple_form_for([@search, indicator], remote: true, data: {search_indicators_target: 'form'}) do |f| %>
      <%= f.number_field :weight, data: { search_indicators_target: 'input', action: 'blur->search-indicators#update' }, value: indicator.weight*10 %>
 <% end %>
</div>
<% end %>



<div>
<%= link_to "See your results", search_path(params[:search_id]) %>
</div>
