<!DOCTYPE html>
<html>
  <head>
    <title>Hestia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

  <div class="fixed-top">
    <%# <% if params[:controller] == 'searches' && params[:action] == 'new' %>
    <%# <%= render 'shared/navbar2' %>
    <%# <% else %>
    <%= render 'shared/navbar' %>
    <%# <% end %>

  </div>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
